html, body{
	margin: 0;
	padding: 0;
	font-family: 'Novecentosanswide-Light', Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #000000;
	min-height: 1000px;
	background: #ffffff;
	/*background: #262626;*/
}

img{
	border-style: none;
}

a:link, a:visited{
	text-decoration: none;
	color: #92DAF6;
}

a:active, a:hover{
	text-decoration: underline;
	color: #92DAF6;
}

#aboutMe{
	float: left;
	margin: 25px 0 0 0;
	width: 100%;
	background-image: url('../images/photos/welcome.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: left;
}

#aboutMeText{
	margin: 20px 0 0 5px;
	float: left;
	width: 90%;
}

.aboutMeTextLine{
	background-color: #262626;
	color: #cccccc;
	font-size: 1.5em;
	letter-spacing: .05em;
	padding: 1px 4px 2px 4px;
	max-width: 100%;
}

.aboutMeConnectImage{
	width: 50px;
	margin: 0 10px 0 10px;
}

#aboutMeConnectInfo{
	margin: 400px 0 0 0;
	text-align: center;
}

#banner{
	float: left;
	text-align: center;
	width: 100%;
	margin: 0 0 0 0;
}

#bannerLogo{
	width: 75%;
	max-width: 300px;
	margin: 25px 0 0 0;
}

#bannerNav{
	width: 100%;
	float: left;
	margin: 25px 0 0 0;
}

#bannerTitle{
	color: #999999;
	font-size: 24pt;
	font-family: 'Novecentosanswide-Normal';
	width: 100%;
	margin: 50px 0 0 0;
	letter-spacing: .18em;
}

#bannerSubtitle{
	color: #666666;
	font-size: 20pt;
	font-family: 'Novecentosanswide-Light';
	width: 100%;
	margin: 0 0 10px 0;
	letter-spacing: .05em;
}


#infoOverlay{
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	background-color: #ffffff;
	z-index: 99;
}

.infoOverlayTitleBar{
	margin: 15px 0 0 20px;
	text-align: center;
	cursor: pointer;
}

#infoSidebar{
	background-color: #262626;
	color: #ffffff;
	height: 50px;
	width: 100%;
	float: left;
	text-align: center;
}

#infoMainSection{
	float: left;
	width: 100%;
}

#infoMainSection{
	float: left;
	width: 100%;
}

.infoRestrictor{
	margin: 0 auto 0 auto;
	max-width: 800px;
}

.navItem{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 25px 5px 0 5px;
	cursor: pointer;
}

.navItemGroup:hover rect{
	stroke-dasharray: 400;
	stroke-dashoffset: 400;
	stroke: #eaa3c8;
	animation: dash 500ms linear forwards;
}

.navItemGroup:hover text{
	animation: textColor 100ms linear forwards;
}

.navButton{
	fill: #ffffff;
	stroke: #000000;
	stroke-width: 2;
	width: 100px;
	height: 100px;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes textColor {
  to {
    fill: #eaa3c8;
  }
}

#portfolio{
	float: left;
	margin: 0 0 0 0;
	width: 100%;
	text-align: center;
}

.portfolioItem{
	display: inline-block;
	width: 100%;
	border: 1px solid #000000;
	margin: 20px 0 20px 0;
	text-align: left;
	cursor: pointer;
}

.portfolioItemFiller{
	display: none;
}


h1{
	color: #000000;
	font-size: 2em;
	font-weight: normal;
	border-bottom: 3px solid #eaa3c8;
	display: inline-block;
	margin: 0 auto 0 auto;
}

.portfolioItemImage{
	width: 100%;
	height: 150px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #cccccc;
    font-size: .7em;
}

.portfolioItemTitle{
	background-color: #262626;
	color: #ffffff;
	padding: 5px 0 5px 10px;
	font-size: 1.5em;
}

.portfolioItemWork{
	background-color: #262626;
	color: #dddddd;
	padding: 5px 0 5px 10px;
	font-size: 1em;
}

.portfolioItemRoles{
	background-color: #262626;
	color: #cccccc;
	padding: 5px 0 5px 10px;
	font-size: 1em;
}


#process{
	float: left;
	margin: 25px 0 0 0;
	padding: 0 0 25px 0;
	width: 100%;
	text-align: center;
	background-color: #262626;
	color: #ffffff;
}

.centerer{
	display: flex;
	justify-content: center;
	flex-direction: column; 
}

.processItem{ 
	width: 100%;
	margin: 20px 0;
	text-align: left;
}

.processItemTitle{
	padding: 5px 0 5px 10px;
	font-size: 1.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.processItemTitle{
	padding: 5px 0 5px 10px;
	font-size: 1.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.processItemDescription{
	padding: 5px 0 5px 10px;
	font-size: 1em;
}

.sectionTitle{
	color: #000000;
	font-size: 2em;
	border-bottom: 3px solid #eaa3c8;
	display: inline-block;
	margin: 0 auto 0 auto;
}

.sectionDescription{
	color: #000000;
	text-align: center;
	width: 90%;
	margin: 10px;
}

.skillIcon{
	text-align: center;
	margin: auto;
    border-radius: 25px;
    background-color: #eaa3c8;
    height: 50px;
	width: 50px;
}

/* Sprites for Skills */

#observations, #interviews, #personas, #personaMap, #problemStatement, #workflows, #wireframes, #prototypes, #designAssessments, #iteration, #storycards, #screenplay, #documentation, #penPaper, #photoshop, #illustrator, #balsamiq, #axure, #htmlcssjs{
	background-image: url('../images/skills/sprites.png');
	background-image: no-repeat;

}

#interviews{ background-position: 0 0; }
#observations{ background-position: -50px 0; }
#personas{ background-position: -100px 0; }
#workflows{	background-position: -150px 0; }
#personaMap{ background-position: -200px 0; }
#wireframes{ background-position: 0 -50px; }
#penPaper{ background-position: -50px -50px; }
#screenplay{ background-position: -100px -50px; }
#storycards{ background-position: -150px -50px; }
#problemStatement{ background-position: -200px -50px; }
#htmlcssjs{	background-position: 0 -100px; }
#photoshop{ background-position: -50px -100px; }
#illustrator{ background-position: -100px -100px; }
#axure{	background-position: -150px -100px; }
#iteration{ background-position: -200px -100px; }
#balsamiq{ background-position: 0 -150px; }
#prototypes{ background-position: -50px -150px; }
#designAssessments{ background-position: -100px -150px; }
#documentation{ background-position: -150px -150px; }