#item1Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/digitalPortfolioThumbnail.png');
}

#item2Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/touchScreensThumbnail.png');
}

#item3Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/kerrytownBookFestThumbnail.png');
}

#item4Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/castingStereotypesAsideThumbnail.png');
}

#item5Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/squirrelSenseThumbnail.png');
}

#item6Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/graveatyThumbnail.png');
}

#item7Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/vocabulearnerThumbnail.png');
}

#item8Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/ultimateMachineThumbnail.png');
}

#item9Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/billManagerThumbnail.png');
}

#item10Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/sweetlandThumbnail.png');
}

#item11Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/superReadersThumbnail.png');
}

#item12Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/twitterThumbnail.png');
}

#item13Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/contactThumbnail.png');
}

#item14Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/gamePopularityThumbnail.png');
}

#item15Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/commuteThumbnail.png');
}

#item16Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/messageBoardThumbnail.png');
}

#item17Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/gooruThumbnail.png');
}

#item18Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/menloThumbnail.png');
}

#item19Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/myDeskThumbnail.png');
}

#item20Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/dmlCompetitionThumbnail.png');
}

#item21Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/timelinePosterThumbnail.png');
}

#item22Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/digitalSignageThumbnail.png');
}

#item23Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/siWebsiteThumbnail.png');
}

#item24Thumbnail{
	background-image: url('../images/portfolioImages/thumbnails/readerThumbnail.png');
}

#closePortfolioItemButton{
	position: fixed;
	bottom: 0;
	right: 25px;
	z-index: 100;
	display: none;
	padding: 5px;
	font-family: Novecentowide-DemiBold;
	font-size: 16pt;
	cursor: pointer;
	
	transition: color 300ms ease-out;
	-webkit-transition: color 300ms ease-out;
	-moz-transition: color 300ms ease-out;
	color: #6b6b6b;
}

#closePortfolioItemButton:hover{
	transition: color 500ms ease-out;
	-webkit-transition: color 500ms ease-out;
	-moz-transition: color 500ms ease-out;
	color: #e3e3e3;
}

.portfolioFinalistRibbon{
	position: absolute;
	right: 0px;
	top: 125px;
}

.portfolioImage{
 	border: 2px solid #b3b3b3;
 }
 
#portfolioWrapper{
	display: none;
	float: left;
	margin: 100px auto 0 350px;
	width: 750px;
	position: relative;
	z-index: 11;
 }
 
.itemContent{
	float: left;
	margin: 0 0 50px 50px;
	padding: 5px;
	width: 698px;
	background-color: #f1f1f1;
	border: 1px solid #dddddd;
}

.itemContentForDescription{
	float: left;
	margin: 0 0 50px 50px;
	width: 698px;
	color: #e3e3e3;
	padding: 6px;
}

.itemDescription{
	float: left;
	margin: 50px 0 0 0; 
	display: none;
}

.itemText{
	float: left;
	width: 488px;
	margin: 0 25px 0 0;
}

.itemMeta{
	float: right;
	width: 185px;
}
 
.itemIntro{
	float: left;
}
.itemCategories{
	float: left;
	width: 40px;
	margin: 0 5px 0 0;
}
.itemCategory{
	float: left;
	margin: 5px;
	width: 30px;
	background-color: #ffffff;
}
.itemInfo{
	float: left;
	width: 450px;
}

.itemPreview{
	margin: 10px 0 0 20px;
}

.itemScreenshots{
	width: 100%;
	float: left;
	margin: 20px 0 0 0;
}

.itemScreenshot{
	width: 200px;
	float: left;
	margin: 0 25px 25px 0;
}

.itemScreenshotBig{
	float: left;
	margin: 0 25px 25px 0;
}

.itemTitle{
	font-family: Novecentowide-DemiBold;
	font-size: 18pt;
	margin: 0 0 0 20px;
	cursor: pointer;
	
	transition: color 300ms ease-out;
	-webkit-transition: color 300ms ease-out;
	-moz-transition: color 300ms ease-out;
}

.itemTitle:hover{
	color: #8e32d5;
	transition: color 300ms ease-out;
	-webkit-transition: color 300ms ease-out;
	-moz-transition: color 300ms ease-out;
}

.itemSubTitle{
	color: #8e32d5;
	font-weight: bold;
	font-size: 18px;
	margin: 0 0 10px 0;
}

.itemSubInfo{
	font-size: 16px;
	margin: 0 0 20px 0;
}

.itemThumbnail{
	float: left;
	width: 160px;
	height: 160px;
	border: 5px solid #ffffff;
	position: relative;
	cursor: pointer;
}

#itemTitle{
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	padding: 20px 20px 20px 200px;
	border: 1px solid #dddddd;
}

#itemContentsContainer{
	display: none;
	position: absolute;
	left: 220px;
	top: 150px;
	width: 700px;
	padding: 10px;
}

#itemContentContainerCloseButton{
	position: absolute;
	right: 0;
	bottom: -42px;
	height: 20px;
	padding: 10px 20px 10px 20px;
	color: #ffffff;
	cursor: pointer;

	background-color: #292929;
	border: 1px solid #1a1a1a;
	-moz-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#portfolioBackground{
	display: none;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: .85;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

#portfolioHead{
	padding: 20px;
	margin: 0 0 25px 10px;
	float: left;
	color: #6b6b6b;
}

#portfolioFilterDescription{
	margin: 0 0 0 25px;
	color: #e3e3e3;
}
