html, body{
	margin: 0;
	padding: 0;
	font-family: 'Novecentosanswide-Light', Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #000000;
	min-height: 1000px;
	background: #ffffff;
	/*background: #262626;*/
}

img{
	border-style: none;
}

a:link, a:visited{
	text-decoration: none;
	color: #2795d3;
}

a:active, a:hover{
	text-decoration: underline;
	color: #92DAF6;
}

#welcome{
	float: left;
	margin: 0 0 0 0;
	width: 100%;
	background-image: url('../images/photos/welcome.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: left;
}

#about{
	float: left;
	padding: 0 0 25px 0;
	width: 100%;
	text-align: center;
}

.aboutEduItem{ 
	width: 40%;
	max-width: 600px;
	margin: 20px;
	text-align: justify;
}

.aboutSkillItem{ 
	width: 25%;
	max-width: 400px;
	margin: 20px;
	text-align: justify;
}

.aboutItemTitle{
	padding: 5px 0 5px 10px;
	font-size: 1.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.aboutItemDescription{
	padding: 5px 0 5px 10px;
	font-size: 1em;
	font-family: 'Lato';
	font-weight: 300;
}

.backButton{
	position: fixed;
	top: 15px;
	left: 15px;
}

#banner{
	float: left;
	text-align: center;
	width: 100%;
	margin: 0 0 0 0;
}

#bannerLogo{
	width: 300px;
	margin: 25px 0 25px 0;
}

#bannerTitle{
	color: #999999;
	font-size: 2.7em;
	font-family: 'Novecentosanswide-Normal';
	width: 100%;
	letter-spacing: .20em;
}

#bannerSubtitle{
	color: #999999;
	font-size: 2.35em;
	font-family: 'Novecentosanswide-Light';
	width: 100%;
	margin: 0 0 10px 0;
	letter-spacing: .05em;
}

#connect{
	float: left;
	margin: 0 0 0 0;
	width: 100%;
	background-image: url('../images/photos/aboutMe.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: left;
}

#connectText{
	margin: 0 0 0 50px;
	float: left;
	width: 700px;
}

.connectTextLine{
	background-color: #262626;
	color: #cccccc;
	font-size: 20pt;
	letter-spacing: .05em;
	padding: 1px 4px 2px 4px;
}

.connectImage{
	width: 50px;
	margin: 0 20px 0 20px;
}

#connectInfo{
	margin: 400px 0 0 0;
	text-align: center;
}

.centerer{
	margin: 0 auto 0 auto;
}

h1{
	color: #000000;
	font-size: 3em;
	font-weight: normal;
	border-bottom: 3px solid #eaa3c8;
	display: inline-block;
	margin: 25px auto 0 auto;
}

.infoBanner{
	max-width: 100%;
	max-height: 400px;
	text-align: center;
}

#infoNavBar{
	background-color: #262626;
	color: #ffffff;
	height: 50px;
	width: 100%;
	float: left;
	text-align: center;
	position: fixed;
	z-index: 99;
}

#infoNavBarText{
	margin: 15px 0 0 20px;
	text-align: center;
	cursor: pointer;
}

#infoMainSection{
	width: 100%;
	margin: 60px 0 0 0;
	text-align: center;
}

.infoRestrictor{
	margin: 0 auto 0 auto;
	max-width: 800px;
}

.infoText{
	font-family: 'Lato';
	font-weight: 300;
	margin: 10px 0 0 0;
}

#navigation{
	background: #262626;
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 99;
	text-align: center;
}

.navItem{
	position: fixed;
	top: 15px;
	left: 15px;
	width: 30px;
	cursor: pointer;
}

a.navButton{
	position: relative;
  	color: #ffffff;
  	text-decoration: none;
  	padding: 0 0 5px 0;
  	cursor: pointer;
  	top: 15px;
  	margin: 0 10px;
}

a.navButton:hover {
  color: #ffffff;
}

a.navButton:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #eaa3c8;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.navButton:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#portfolio{
	float: left;
	margin: 0 0 0 0;
	width: 100%;
    text-align: center;
}

.portfolioItem{
	display: inline-block;
	width: 25%;
	max-width: 400px;
	margin: 20px;
	text-align: left;
	cursor: pointer;
}

.portfolioItemFiller{
	display: inline-block;
	width: 25%;
	margin: 20px;
	text-align: left;
}

.portfolioItemImage{
	width: 100%;
	height: 150px;
	border: 1px solid #000000;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: #cccccc;
    font-size: .7em;
    -moz-transition: background-size .5s;
    -webkit-transition: background-size .5s;
    transition: background-size .5s;
}

.portfolioItemImage:hover{
	background-size: 105% 105%;
}

.portfolioItemTitle{
	padding: 5px 0 0 0;
	font-size: 1.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.portfolioItemWork{
	font-size: 1em;
}

.portfolioItemRoles{
	font-size: 1em;
}

.portfolioLinkButtons{
	margin: 50px 0;
	text-align: center;
}

a.portfolioLinkButton{
	padding: 10px;
	margin: 20px 10px;
	background-color: #2795d3;
	color: #ffffff;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out 0s;
}

a.portfolioLinkButton:hover{
	text-decoration: none;
	background-color: #0a83c7;
	transition: background-color 0.3s ease-in-out 0s;
}

.centerer{
	display: flex;
	justify-content: center;
}

.sectionDescription{
	color: #000000;
	text-align: center;
	width: 500px;
	margin: 10px auto 20px auto;
}

.skillIcon{
	text-align: center;
	margin: auto;
    border-radius: 25px;
    background-color: #eaa3c8;
    height: 50px;
	width: 50px;
}

/* Sprites for Skills */

.observations, .interviews, .personas, .personaMap, .problemStatement, .workflows, .wireframes, .prototypes, .designAssessments, .iteration, .storycards, .screenplay, .documentation, .penPaper, .photoshop, .illustrator, .balsamiq, .axure, .htmlcssjs, .development{
	background-image: url('../images/skills/sprites.png');
	background-image: no-repeat;

}

.interviews{ background-position: 0 0; }
.observations{ background-position: -50px 0; }
.personas{ background-position: -100px 0; }
.workflows{	background-position: -150px 0; }
.personaMap{ background-position: -200px 0; }
.wireframes{ background-position: 0 -50px; }
.penPaper{ background-position: -50px -50px; }
.screenplay{ background-position: -100px -50px; }
.storycards{ background-position: -150px -50px; }
.problemStatement{ background-position: -200px -50px; }
.htmlcssjs{	background-position: 0 -100px; }
.photoshop{ background-position: -50px -100px; }
.illustrator{ background-position: -100px -100px; }
.axure{	background-position: -150px -100px; }
.iteration{ background-position: -200px -100px; }
.balsamiq{ background-position: 0 -150px; }
.prototypes{ background-position: -50px -150px; }
.designAssessments{ background-position: -100px -150px; }
.documentation{ background-position: -150px -150px; }
.development{ background-position: -200px -150px; }
