html, body{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #515151;
	min-height: 1000px;
}

a:link, a:visited{
	text-decoration: none;
	color: #43b6d7;
}

a.navItemLink:link, a.navItemLink:visited{
	text-decoration: none;
	color: #6b6b6b;
	font-size: 18px;
}

a.navItemLinkSelected:link, a.navItemLinkSelected:visited{
	text-decoration: none;
	color: #e3e3e3;
	font-size: 18px;
}

body{
	background-image: url('../images/background.png');
}

.book{
	float: left;
	padding: 0 10px 15px 10px;
}

.bookTitle{
	font-weight: bold;
}

#aboutTile{
	float: left;
	margin: 0 25px 0 25px;
	width: 698px;
	position: relative;
}

#aboutPicture{
	position: absolute;
	top: -20px;
	left: 30px;
	border: 4px solid #f3f3f3;	
}

#aboutInfo{
	float: left;
	width: 400px;
	margin: 0 0 0 250px;
	padding: 10px;
}

#aboutTitle{
	float: left;
	font-family: Novecentowide-DemiBold;
	font-size: 24pt;
}

#aboutDescription{
	float: left;
	margin: 10px 0 10px 0;
}

.connectLogo{
	width: 50px;
	height: 50px;
}

.connectText{
	width: 50px;
	height: 54px;
	line-height: 50px;
}

#contactTile{
	float: left;
	width: 198px;
	margin: 50px 25px 0 25px;
}

#contactDescription{
	float: left;
	margin: 0 20px 20px 20px;
}

#centeredContainer{
	width: 1200px;
	margin: 0 auto 0 auto;
}

.title{
	float: left;
	width: 100%;
	margin: 10px 0 10px 0;
	font-family: Novecentowide-DemiBold;
	font-weight: normal;
	font-style: normal;
	color: #515151;
	font-size: 1.5em;
}

.description{
	float: left;
	margin: 0 0 10px 0;
}

#headTile{
	width: 300px;
	height: 75px;
	margin: 25px 0 0 0;
	text-align: center;
	float: left;
	cursor: pointer;
}

.headFont{
	position: relative;
	font-family: Novecentowide-Light;
	font-size: 30px;
	color: #e3e3e3;
	line-height: 30px;
}

.headSubFont{
	position: relative;
	font-family: Novecentowide-DemiBold;
	font-size: 18px;
	color: #8e32d5;
	letter-spacing: .11em;
}

#navTile{
	position: fixed;
	left: 25px;
	top: 0;
	width: 298px;
	height: 298px;
	border: 1px solid #1a1a1a;
	background: rgb(41,41,41); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,41,41,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(41,41,41,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(41,41,41,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(41,41,41,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(41,41,41,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	-moz-box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	-webkit-box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	
	font-family: Novecentowide-Normal;
	font-weight: normal;
	font-style: normal;
	z-index: 100;
}

.navItem{
	color: #6b6b6b;
	cursor: pointer;
	float: left;
	width: 100%;
	line-height: 50px;
}

#navItemContainer{
	float: left;
	margin: 0 0 0 20px;
}

#navItemSelected{
	position: absolute;
	top: 112px;
	right: -10px;
	width: 50px;
	height: 25px;
	background-color: #8e32d5;
	border: 1px solid #1a1a1a;
	-moz-box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	-webkit-box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	z-index: 101;
}

#instagramTile{
	float: left;
	width: 448px;
	margin: 50px 25px 50px 25px;
	background-color: #292929;
	border: 1px solid #1a1a1a;
	-moz-box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	-webkit-box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
}

#instagramInfo{
	float: left;
	margin: 10px 0 0 0;
}

#instagramTitle{
	font-family: Novecentowide-DemiBold;
	font-size: 24pt;
	color: #e3e3e3;
}

#instagramDescription{
	color: #e3e3e3;
	margin: 0 0 10px 0;
}

#instagramPhoto{
	clear: both;
	float: left;
	margin: 0 0 20px 20px;
}

#pageWrapper{
	width: 1100px;
	margin: 0 auto 0 auto;
}

#readingTile{
	float: left;
	margin: 50px 25px 50px 25px;
	width: 198px;
	background-color: #f3f3f3;
	border: 1px solid #dddddd;
	-moz-box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	-webkit-box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
}

#resumeWrapper{
	display:none;
}

#resumeTile{
	float: left;
	font-size: 14px;
	margin: 0 0 50px 0;
}

#resumeLeftColumn{
	float: left;
	width: 230px;
	margin: 0 10px 0 10px;
}

#resumeRightColumn{
	float: left;
	width: 430px;
	margin: 0 10px 0 10px;
}

.resumeItem{
	float: left;
	margin: 0 0 10px 0;
}

.resumeHeadFont{
	font-family: Novecentowide-DemiBold;
	font-size: 30px;
	color: #515151;
	margin: 10px 0 0 10px;
	line-height: 10px;
}

.resumeSubFont{
	font-family: Novecentowide-Normal;
	font-size: 18px;
	color: #515151;
	margin: 10px 0 0 10px;
}

.resumeItemInfo{
	float: left;
	font-weight: bold;
	margin: 0 0 3px 0;
}

.resumeItemSubInfo{
	float: left;
	width: 100%;
	font-style: italic;
	margin: 0 0 5px 0;
}

ul.resumeList{
	margin: 0;
	padding: 0 0 0 20px;
	font-size: 12px;
	float: left;
}

.tileTitle{
	font-family: Novecentowide-DemiBold;
	font-size: 24pt;
	padding: 10px 5px 10px 5px;
	text-align: center;
}

.tileLight{
	color: #515151;
	background-color: #f3f3f3;
	border: 1px solid #dddddd;
	-moz-box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	-webkit-box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
}

.tileDark{
	color: #e3e3e3;
	background-color: #292929;
	border: 1px solid #1a1a1a;
	padding: 10px 0 0 0;
	-moz-box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	-webkit-box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
}

#twitterHandle{
	font-family: Novecentowide-DemiBold;
	font-size: 24pt;
}

#twitterTile{
	float: left;
	margin: 50px 25px 0 25px;
	width: 448px;
}

.twitterList li{
	color: #e3e3e3;
	background-color: #292929;
	border: 1px solid #1a1a1a;
	-moz-box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	-webkit-box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	box-shadow: 4px 4px 4px rgba(41,41,41,0.3);
	margin: -1px 0 0 0;
	padding: 10px;
}

ul.twitterList{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.unadornedList{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.unadornedList li{
	margin: 0 0 10px 0;
}

.wrapper{
	float: left;
	margin: 100px 0 0 375px;
	width: 750px;
}

.t_Content_darkFlat{
	color: #e3e3e3;
	padding: 6px;
	font-size: 12pt;
  	line-height: 16px;
}
