html, body{
	margin: 0;
	padding: 0;
	font-family: 'Novecentosanswide-Light', Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #cccccc;
	min-height: 1000px;
	background: #262626;
}

img{
	border-style: none;
}

a:link, a:visited{
	text-decoration: none;
	color: #92DAF6;
}

a:active, a:hover{
	text-decoration: underline;
	color: #92DAF6;
}

.aboutMe{
	background-image: url('../images/photos/aboutMe.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

#aboutMeText{
	margin: 50px 0 0 50px;
	position: relative;
}

#arrowDown{
	position: fixed;
	bottom: 80px;
	cursor: pointer;
	width: 50px;
	z-index: 99;
	margin-left: -25px;
	transition: transform 500ms ease;
}

#arrowDown:active{
	bottom: 78px;
}

#banner{
	float: left;
	text-align: center;
	width: 100%;
	margin: 0 0 0 0;
}

#bannerLogo{
	width: 500px;
	margin: 70px 0 0 0;
}

#bannerTitle{
	color: #cccccc;
	font-size: 32pt;
	font-family: 'Novecentosanswide-DemiBold';
	width: 100%;
	margin: 0 0 0 0;
	letter-spacing: .20em;
}

#bannerSubtitle{
	color: #ffffff;
	font-size: 28pt;
	font-family: 'Novecentosanswide-Light';
	width: 100%;
	margin: 0 0 10px 0;
	letter-spacing: .05em;
}

.blackBackgroundText{
	background-color: #000000;
	font-size: 20pt;
	letter-spacing: .05em;
	opacity: .9;
	padding: 1px 4px 2px 4px;
	display: none;
	position: absolute;
	left: 0;
}

.connectImage{
	width: 50px;
	margin: 0 20px 0 20px;
}

#connectInfo{
	margin: 400px 0 0 0;
	text-align: center;
}

.hideAtStart{
	display: none;
}

#navigation{
	position: fixed;
	bottom: -70px;
	left: 0;
	width: 100%;
	height: 70px;
	background: #000000;
	opacity: .85;
	float: left;
	z-index: 99;
}

#navLogo{
	float: left;
	margin: 10px;
	cursor: pointer;
}

#navTitles{
	float: left;
	margin: 0 25px 0 0;
	cursor: pointer;
}

#navTitle{
	margin: 10px 0 0 0;
	color: #cccccc;
	font-size: 18pt;
	font-family: 'Novecentosanswide-DemiBold';
	letter-spacing: .20em;
}

#navSubtitle{
	margin: -10px 0 0 0;
	color: #ffffff;
	font-size: 16pt;
	font-family: 'Novecentosanswide-Light';
	letter-spacing: .05em;
}

.navItem{
	float: left;
	margin: 20px 0px 0 40px;
	color: #ffffff;
	font-size: 14pt;
	font-family: 'Novecentosanswide-Light';
	cursor: pointer;
	transition: color 200ms ease;
}

.navItem:hover{
	color: #eaa3c8;
	transition: color 200ms ease;
}

.rotated180{
	transform: rotate(180deg);
	transition: transform 500ms ease;
}

.section{
	width: 100%;
	float: left;
	min-height: 678px;
}

.sectionTitle{
	color: #cccccc;
	font-size: 32pt;
	font-family: 'Novecentosanswide-DemiBold';
	margin: 10px 0 25px 50px;
	float: left;
}

.sectionDesc{
	margin: -10px 50px 0 50px;
	color: #ffffff;
	font-size: 16pt;
	font-family: 'Novecentosanswide-Light';
	position: relative;
}

.sectionItemsList{
	float: left;
	width: 100%;
	margin: 25px 0 0 0;
}

.sectionItem{
	float: left;
	margin: 0 0 0 50px;
	cursor: pointer;
}

.sectionItem:hover{
	color: #eaa3c8;
	transition: color 200ms ease;
}

.sectionContent{
	margin: 100px 50px 0 50px;
	width: 1000px;
	clear: both;
}

.sectionItemImage{
	float: left;
	width: 375px;
	height: 400px;
	text-align: center;
}

.sectionItemDesc{

}

.sectionItemText{
    width: 400px;
    float: left;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
}

.sectionItemTitle{
	color: #cccccc;
	font-size: 18pt;
	font-family: 'Novecentosanswide-DemiBold';
	margin: 0 0 10px 0;
}

.skillSection{
	float: left;
	width: 500px;
}

.skill{
	margin: 0 20px 10px 0;
	float: left;
	width: 150px;
	height: 100px;
}

.skillGroup{
	width: 510px;
	float: left;
}

.skillIcon{
	cursor: pointer;
}

.skillsDescription{
	width: 390px;
	height: 100%;
	margin: 0 70px 0 0;
	float: left;
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 300;
}

.subtitle{
	color: #8466c3;
}

.tooltip{
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 300;
}

.welcome{
	background-image: url('../images/photos/welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}

#welcomeText{
	width: 500px;
	margin: 50px 0 0 50px;
	position: relative;
}

/* Sprites for Skills */

#observations, #personas, #workflows, #wireframes, #prototypes, #designAssessments, #storycards, #screenplay, #documentation, #penPaper, #photoshop, #illustrator, #balsamiq, #axure, #htmlcssjs{
	background-image: url('../images/skills/sprites.png');
	background-image: no-repeat;
	height: 50px;
	width: 50px;
}

#observations{
	background-position: -50px -100px;
	border: 1px solid #515151;
}

#personas{
	background-position: -100px -50px;
	border: 1px solid #515151;
}

#workflows{
	background-position: -50px -50px;
}

#wireframes{
	background-position: -100px -100px;
	border: 1px solid #515151;
}

#prototypes{
	background-position: -150px -50px;
	border: 1px solid #515151;
}

#designAssessments{
	background-position: -150px -100px;
	border: 1px solid #515151;
}

#documentation{
	background-position: 0 -100px;
	border: 1px solid #515151;
}

#penPaper{
	background-position: 0 -150px;
}

#photoshop{
	background-position: 0 0;
}

#illustrator{
	background-position: -50px 0;
}

#axure{
	background-position: -100px 0;
}

#balsamiq{
	background-position: -150px 0;
}

#htmlcssjs{
	background-position: 0 -50px;
}

#storycards{
	background-position: -50px -150px;
}

#screenplay{
	background-position: -100px -150px;
}
